<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        {% if config.description -%}
        <meta name="description" content="{{ config.description }}">
        {% endif %}

        <title>{% block title %}{{ config.title }}{% endblock title %}</title>

        {% block css %}
            <link rel="stylesheet" href="{{ get_url(path="theme.css", trailing_slash=false) | safe }}">
        {% endblock css %}
        {% endblock head %}
    </head>
    <body>
        <div class="content">
        {% block body%}
        {% block header %}
            <header>
               
                <div class="header-left">
                    <a href="{{ config.base_url }}" class="logo">{{ config.title }}</a>
                </div>
                <div class="header-right">
                    <nav itemscope itemtype="http://schema.org/SiteNavigationElement">
                      <ul>
                        {% set index = get_section(path="_index.md") %}
                        {% for s in index.subsections %}
                            {% set subsection = get_section(path=s) %}
                            <li class="nav">
                                <a itemprop="url" href="{{ subsection.permalink | safe}}">
                                    <span itemprop="name">{{ subsection.title }}</span>
                                </a>
                            </li>
                        {% endfor %}
                        {% if config.extra.github %}
                        <li class="nav">
                            <a itemprop="url" href="https://github.com/{{ config.extra.github }}">
                                <img class="icon" src="{{ config.base_url }}/icons/github.svg" alt="Github">
                            </a>
                        </li>
                        {% endif %}
                        {% if config.extra.twitter %}
                        <li class="nav">
                            <a itemprop="url" href="https://twitter.com/{{ config.extra.twitter }}">
                                <img class="icon" src="{{ config.base_url }}/icons/twitter.svg" alt="Twitter">
                            </a>
                        </li>
                       
                        {% endif %}
                       
                      </ul>
                    </nav>
                </div>
            
            </header>
        {% endblock header %}
        {% block content %}
        <main>
            {% block main %}
            <h1 class="title is-2">{{ section.title }}</h1>
                  
                      
                      <div class="main">
                        
                        {% if config.extra.imgcinq %}
                         
                          <img  class="figure" class="zoom d-flex" src="{{ config.extra.imgcinq }}" style="max-width: 50%"  />
                        
                        <h1 class="description">{{ section.description }}</h1>
                        </div>
                         {% endif %}
                    {{ section.content | safe }}
                    <!--<div class="zoom d-flex justify-content-center">
                      <div class="p-2 m-2"><img src="{{ config.extra.imgcinq }}"  /></div>
                      <div class="p-2 m-2"><img src="{{ config.extra.imgcinq }}"  /></div>
                      
                    </div>-->
                    
                  {% endblock main %}
                 </main>
        {% endblock content %}
        <footer>
            {% block footer %}
            <div class="border"></div>
            <div class="row">
                <div class="column">
                    <div class="contacts">
                  <h2>nous contacter</h2>
                  
                  <p> Que ce soit pour obtenir un renseignement sur mes prestations, pour me poser une question ou juste pour me dire Bonjour, n'hésitez pas à me contacter ! </p></li>
                    <p> contacts : <a href="+237 698996028">+237 698996028</a></p>
                      <a href="{{config.extra.email}}">{{config.extra.email}}</a>
                        
                          <p>12100 landerneau</p>
                            <p>disponible tous les jours</p>
                    </div>
                </div>
                
                <div class="column">
                    <div class="visit">
                        <h2> rejoigner nous sur les reseaux sociaux</h2>
                        <p> retrouver nous sur &copy; 2022 <a href="{{config.extra.facebook}}">{{config.extra.facebook}}</a>.</p>
                        <p> retrouver nous sur &copy; 2022 <a href='{{config.extra.instagram}}'>{{config.extra.instagram}}</a>.</p>
                        <p> retrouver nous sur &copy; 2022 <a href='{{config.extra.twitter}}'>{{config.extra.twitter}}</a></p>
                         <p> retrouver nous sur &copy; 2022 <a href='{{config.extra.youtube}}'>{{config.extra.youtube}}</a>.</p>
                      </div>
                 </div>
        {% endblock footer %}
       
        </footer>
    {% endblock body%}
        </div>
    </body>
</html>
