{% extends 'index.html' %}

{% block title %}
{{ config.title }} | {{ section.title }}
{% endblock title %}

{% block content %}
<section class="section">
  
    <div class="has-text-centered">
      <h1 class="title is-2">{{ section.title }}</h1>
      <p class="subtitle is-4">{{ section.description }}</p>
    </div>
    <div class="border"></div>
    
      {{ section.content | safe }}
      
        {% if paginator %}
        {% set pages = paginator.pages %}
        {% else %}
        {% set pages = section.pages %}
        {% endif %}

        {% for page in pages %}
        <article class="box">
          <h2 class="title">
            <a class="has-text-dark" href='{{ page.permalink }}'>
              {{ page.title }}
            </a>
          </h2>
          <p class="subtitle">{{ page.description }}</p>
          <div class="p-2 m-2"><img src="{{ config.extra.imgcinq }}"  /></div>
         
            
            <a class="has-text-danger-dark has-text-weight-semibold" href='{{ page.permalink }}'>
              Read More
            </a>
          
        </article>
        {% endfor %}
</section>
{% endblock %}
